@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);
$font-stack: 'Raleway', sans-serif;

@mixin default-font-normal {
  font-family: $font-stack;
  font-weight: 300;
}

@mixin default-font-bold {
  @include default-font-normal;
  font-weight: 400;
}
