@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
$font-stack: 'Raleway', sans-serif;

@mixin default-font-normal {
  font-family: $font-stack;
  font-weight: normal;
}

@mixin default-font-bold {
  @include default-font-normal;
  font-weight: bold;
}
