@import 'commons';

body {
  @include default-font-normal;
  padding-top: 85px;
  background: url(/images/background.jpg) no-repeat center center fixed;
  @include background-size(cover);
}

h1, h2, h3, h4, h5, h6 {
  @include default-font-bold;
  color: #444;
}

p {
  font-size: 18px;
  line-height: 25px;
}

.navbar-default {
  padding: 15px 0 20px 0; 
  border:0;
  background-color: rgba(#000, 0.8);

  a.navbar-brand {
    font-size: 35px;
    color: #fff;
    padding:0;
    @include default-font-normal;
  }

}

.explanations {
  margin-top:20px;

  .illustration-container {
    @include make-md-column(5);
    padding: 3% 3%;
    background: rgba(#000, 0.4);

    @include transition(background-color 0.5s);

    &:hover {
      background-color: rgba(#000, 0.5);
    }
  }

  .explanation-container {
    @include make-md-column(7);
    padding: 3% 3%;
    background-color: rgba(#fff, 0.85);

    @include transition(background-color 0.5s);

    h2 {
      margin: 5px 0 8px 0;
    }

    &:hover {
      background-color: #fff;
    }
  }

}

.footer {
  background-color: rgba(#000, 0.8);
  margin-top: 40px;
  background: rgba(219,82,0,0.89);
  height: 250px; //Demo!
}

